*,
:after,
:before {
  box-sizing: border-box;
}
.container-product {
  display: flex;
  flex-direction: row;
}
.details-container {
  background: #fff;
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
  border-radius: 45px;
  width: 60%;
  margin-left: 5%;
}
.delivery-container {
  background: #fff;
  margin: 10px 10px;
  border-radius: 45px;
  width: 60%;
  padding-left: 25px;
}

label {
  right: 7px;
  top: 3px;
  width: 22px;

  background: -webkit-linear-gradient(#fff, #f0f0f0);
  background: -moz-linear-gradient(#fff, #f0f0f0);
  background: linear-gradient(#f5f5f5, #e0e0e0);
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 30px 0 10px;

  border: 1px solid #e0e0e0;
  border-radius: 3px;
  line-height: 62px;
  height: 50px;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  background: #fff;

  min-width: 200px;
  margin: 0 5px 5px 0;
}

select::-ms-expand {
  display: none;
}
.details {
  margin-left: 5%;
}
.offre {
  background-color: #0077b6;
  padding: 3px;
  margin-top: -3%;
  color: white;
  width: max-content;
  font-size: 15px;
}
#product-title {
  font-size: 1.8rem;
}
#description {
  color: #869099;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 70%;
  font-size: 13px;
  letter-spacing: 2px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -13%;
}
.navigate {
  display: flex;
  flex-direction: row;
  color: #918d8d;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: -30px;
}
.navigate p {
  margin-left: 5px;
  margin-bottom: -10px;
  font-size: 12px;
}
#review {
  margin-left: 2%;
}
#price-product {
  font-weight: bold;
  font-size: 30px;
  color: #1b263b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.discount {
  font-size: 1rem;
  text-decoration: line-through;
  text-align: left;
  color: #75757a;
  margin-top: -10%;
}
#delivrt {
  color: #313133;
}
#image {
}

#image {
  max-width: 70%;
  min-width: 200px;
  height: auto;
}
form {
  width: 300px;
  height: auto;
  margin: 0px 30px;
  padding-top: 25px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  height: 5%;
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
  width: 10%;
}

form #increase {
  height: 5%;

  margin-left: -4px;
  width: 10%;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 10%;
  height: 40px;
}
.add {
  background-color: #4b99c4;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.add:hover {
  background-color: #1250a1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 769px) {
  .details-container {
    flex-direction: column;

    margin: 10px 10px;
  }

  #image {
  }
  .details {
    margin-left: 20px;
  }
}
