.container {
  background: #2c3034;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5%;
  box-shadow: 0px 0px 35px #54595e;
  margin-bottom: -20px;
  margin-left: -5px;
  margin-right: -5px;
}
.container h4 {
  color: #2a8387;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}
.container h4:hover {
  color: #ffff;
  transition: all 0.3s ease-inw;
}
#para {
  display: flex;
  justify-content: center;
  color: #fff;
  letter-spacing: 5px;
}
.container a{
  align-self: flex-end;
}
.container img {
  height: 35px;
  width: 35px;
  align-self: flex-end;
  margin-top: -25px;
  margin-right: 25px;
}
.container img:hover {
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin-top: 45px;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .container h4 {
    color: #2a8387;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0%;
    margin-right: 0%;
  }
  #para {
    display: flex;
    justify-content: center;
    color: #fff;
    letter-spacing: 0px;
    min-width: max-content;
  }
  .container a{
    align-self: center;
  }
  .container img {
    height: 25px;
    width: 25px;
    margin-top: 0px;
    margin-right: -0px;
    margin-bottom: -5%;
    margin-top:60%;

  }
}
