nav {
  display: flex;
  align-items: center;
  background: #1b2430;
  padding: 10px 30px 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
  margin-top:-10px;
}
#navbar {
  display: flex;

}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;

}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}
#title{
  display: none;
}
.cart-container {
  display:flex ;
  flex-direction:row;
  align-items: center;
justify-content: flex-end;
margin-left: auto;
}
.cart-container:hover{
  opacity: 0.6;
}

#cart{
  color: #FFF;

}
#cart-text{
  color: #FFFF;

}


@media screen and (max-width: 769px) {
  nav{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
  }
  #navbar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 0px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    margin-left: 10px;
    display: flex;

  }

  #mobile i {
    font-size: 20px;
    cursor: pointer;
  }
  #title{
    display: block;
    margin-left: 50%;
    color: #f1faee;
    align-items: center;
  }


  #cart{
    color: #FFF;
  }
}