.card {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    padding:  0px 1.25rem 1.25rem;
    -webkit-box-align: center;
    position: relative;
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    border-radius: 25px;
    margin-top: 3rem;
  }
  
  .card:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #adb5bd;
  }
    
    

.img-product{
width: auto;
max-width: 50%;
height: 50%;
align-items: center;
border-radius: 54px;
}
.product{
  display: flex ;
  flex-direction: column;
  align-items: center;

}
h4{
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 100%;
}
#desc{
  color: rgb(141, 134, 134);
}
.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
  align-items: flex-end;
}
.productCard__cart:hover{
  box-shadow: 0.1rem 0.5rem 0.5rem #ced4da;

}