.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
    padding:  0px 0.25rem 1.5rem;
    -webkit-box-align: center;
    position: relative;
    margin: 1rem;
    flex: 1 0 25rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    border-radius: 25px;
    margin-top: 3rem;
    box-shadow: 0.3rem 0.5rem 1.5rem #93999e;
  }
  
  .card:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0.7rem 0.9rem 1.8rem #5e6266;
    
  }
    
    

.img-product{
width: auto;
max-width: 50%;
height: 50%;
align-items: center;
border-radius: 54px;
}
.product{
  display: flex ;
  flex-direction: column;
  align-items: center;
  cursor: pointer;


}
.product h4{

  font-size: 1.2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 100%;
}
#desc{
  color: rgb(141, 134, 134);
  text-align: center;
}
.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
  align-items: flex-end;
}
.productCard__cart:hover{
  color: #023e8a;
}
#price{
  color:#1db45a;
  font-size: 1.75rem;
  line-height: 1.7rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

}

.add-btn{
  background-color: black;
  box-shadow: 0.3rem 0.5rem 1.5rem #93999e;

  

}

@media screen and (max-width: 769px) {

  .card {
    padding:  0px 0.25rem 1.5rem;
    margin: .5rem 1rem;
    border-radius: 25px;
    margin-top: 3rem;
    box-shadow: 0.5rem 0.75rem 1.5rem #adb5bd;
    
  }
    
    
  
}