.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 1rem 2rem;
    justify-content: space-around;
    box-sizing: border-box;
    animation-name: product-animation;
    animation-duration: 2s;
    animation-fill-mode:inherit;

}

.box{
  margin:3rem 2rem -1rem;
}

.input {
  padding: 10px;
  width: 30%;
  height: 3rem;
  background: none;
  border: 2px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 16px;
  outline: none;
  transition: .5s;
}
.box:hover input{
  border-radius: 10px;
}

.box:hover i{
  opacity: 0;
  z-index: 1;
}

@keyframes product-animation {
  from {
    opacity: 0;
    transform: translate3d(0, -2%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}


.menu-titile{
    font-size: 2rem;
    margin-bottom: -10px;
    padding: 0px 40px;
    color: #22223b;
    font-size: 40px;

}


@media screen and (max-width: 769px) {

    .product-container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin: auto auto;
        gap: 1rem;
    }    

    .input{
      width:70%;
      margin-bottom: 20px;
    }
}