body{
  
    background-color: #e0e1dd;
}
h3{
  color: rgb(39, 34, 33);
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 130%;
  font-weight: 800;
  box-sizing: border-box;
  margin-block-end: 1em;
  margin-block-start: 1em;  
}
.desc {
    margin:20px 30px;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;

}

.positive-benefits{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.25rem;
    margin-top: 2rem;
    margin-bottom: 4rem;


  }


.svg-cart{
  
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(196, 127, 23);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

}
.pack{
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(87, 79, 77);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.time-icon{
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(219, 172, 44);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;



}
.fresh-coffee{
  min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(128, 71, 248);
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

}


.menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    cursor: pointer;
}
#menu-img{
  width:650px ;
  height:auto ;
  border-top-right-radius: 45px ;
  border-top-left-radius: 45px ;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.4);
}

    

#menu-desc{
  background-color: white;
  margin-top: -25px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);

  
}
 


#drinks ,#food{
justify-items: center;
justify-content: center;
margin-left: 10px;
max-width: 650px;
    
}
#bg-img{
  width: 100%; ;
  box-sizing: border-box;

}
#desc-details{
  color: rgb(64, 57, 55);
  font-size: 1.25rem;
  line-height: 130%;
  font-weight: 400;


}

.button {
justify-content: flex-end;
align-items: flex-end;
  background-color: #FFFF;
  background-image: linear-gradient(#FFFF, #FFFF);
  border: 1px solid #2A8387;
  color: #2A8387;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 20%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  width: 20%;
  margin-left: 25px;
  
}

.button:hover {
  box-shadow: #2A8387(255, 255, 255, 0.8) 0 0 2px inset, #2A8387(0, 0, 0, 0.7) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button:disabled:active {
  pointer-events: none;
}

.button:disabled:hover {
  box-shadow: none;
}


@media screen and (max-width: 769px) {

    h1 {
      font-size: 24px;
    }
    h3 {
        font-size: 24px;
      }
      .desc {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }
    .menu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-around;
        cursor: pointer;
        width: 100%;
    }
    #bg-img{
      max-width:70% ;
      max-height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    #menu-img{
      max-width: 90%;
      border-top-right-radius: 45px ;
      border-top-left-radius: 45px ;
      box-shadow: 0 10px 60px rgba(0, 0, 0, 0.4);
    }
    #desc-details{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgb(64, 57, 55);
      font-size: 1rem;
      line-height: 130%;
      font-weight: 400;
    }
    
        
    
    #menu-desc{
      background-color: white;
      max-width: 80%;
      margin-top: -25px;
      border-radius: 25px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    
      
    }
     
    
    
    #drinks ,#food{
    justify-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
        
    }
 

    }
